@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Inter:wght@400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    user-select: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

li{
    list-style: none;
}
/*Partes gobales y fondo*/
video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
#abrir{
    position: fixed;
    top: 70px;
    right: 20px;
    border-radius: 7px;
    font-size: 25px;
    background: #494949;
    border: solid 2px #2EC7FF;
    transition: all .3s ease-in-out;
    z-index: 10;
}
#abrir:hover {
    background: #2EC7FF;
    transform: scale(1.1);
}
#audio-control {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 7px;
    font-size: 25px;
    background: #494949;
    border: solid 2px #2EC7FF;
    transition: all .3s ease-in-out;
    z-index: 10;
}
#audio-control:hover {
    background: #2EC7FF;
    transform: scale(1.1);
}

/*Barra de navegacion*/
.logo{
    margin-left: 1%;
    width: 100px;
    border-radius: 50%;
}
.contenedor-prin{
    position: sticky;
    top: 0;
    z-index: 1;
    max-width: 100%;
    min-width: 410px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: solid 3px #0076D1;
    box-shadow: 0 0 30px #000;
    max-width: 100%;
    min-width: 410px;
}
.nav-a{
    color: #B6B6B6;
    text-decoration: none;
    margin-left: -140px;
    font-size: 20px;
    font-weight: 300;
}
.nav-spn-h{
    display: block;
    position: relative;
    left: -75.8px;
    top: 5px;
    color: #2EBDFF;
}
.nav-spn-m{
    display: block;
    position: relative;
    left: -126px;
    top: 10px;
    color: #2EBDFF;
}
.nav-spn-C{
    display: block;
    position: relative;
    left: -119px;
    top: 4px;
    color: #2EBDFF;
}


/*Mini panel colores ect*/
.panel{
    display: none;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 1300px;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.ocultar-panel {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}
h2{
    color: #D10000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}
#cerrar{
    position: fixed;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 10px;
    cursor: pointer;
    background: #8f8f8f9d;
    color: #FF0000;
    transition: all .3s ease-in-out;
    top: -1px;
    right: -1px;
}
#cerrar:hover{
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}
.panel-logo{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.panel-p{
    text-align: center;
    color: #B6B6B6;
    font-family: nixbox;
    font-weight: 300;
    font-size: 17px;
    margin-top: -25px;
}
.btn-can{
    margin-left: 40%;
    margin-top: 6px;
    margin-bottom: 6px;
    border: none;
    border-radius: 6px;
    background: #5CCBFF;
    color: #494949;
    padding: 7px 9px;
}

/*Pate central*/
.item-img{
    position: relative;
    top: 10px;
    left: -1%;
    width: 420px;
}
.tarjeta{
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: #2E8CFF;
    box-shadow: 0 25px 50px #4AA1FF, inset 0 -4px 8px #2E8EFF;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin-left: 50px;
    margin-top: -20px;
}
.tarjeta:hover{
    transform: rotate(0deg) scale(1) translateY(10px) translateX(10px);
    box-shadow: 0 35px 70px #1A82FF, inset 0 -6px 10px #2E8EFF;
    animation: card 4s forwards;
    z-index: 10;
}
.tarjeta-p{
    text-align: left;
    line-height: 1.1;
    color: #494949;
    margin-left: 5px;
    margin-top: -10px;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 3px;
    filter: blur(4px);
    transition: all 1s ease-in-out;
}
.tarjeta-p:hover{
    filter: none;
    animation: tarjeta-p 4s forwards;
}
.titu{
    color: #FF0000;
    filter: blur(4px);
    transition: all 1s ease-in-out;
}
.titu:hover{
    filter: none;
}
.tarjeta2{
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: #2E8CFF;
    box-shadow: 0 25px 50px #4AA1FF, inset 0 -4px 8px #2E8EFF;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin-left: 50px;
    margin-top: -60px;
}
.tarjeta2:hover{
    transform: rotate(0deg) scale(1) translateY(10px) translateX(10px);
    box-shadow: 0 35px 70px #1A82FF, inset 0 -6px 10px #2E8EFF;
    animation: card 4s forwards;
}

.tarjeta3{
    width: 270px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    background: #2E8CFF;
    box-shadow: 0 25px 50px #4AA1FF, inset 0 -4px 8px #2E8EFF;
    transition: transform .5s ease, box-shadow .6s ease;
    color: var(--text-color);
    margin-left: 50px;
    margin-top: -60px;
}
.tarjeta3:hover{
    transform: rotate(0deg) scale(1) translateY(10px) translateX(10px);
    box-shadow: 0 35px 70px #1A82FF, inset 0 -6px 10px #2E8EFF;
    animation: card 4s forwards;
}

/* Servidores donde trabaje */
.trabajo{
    background: rgba(2, 33, 99, 0.5);
    color: #B6B6B6;
    text-align: center;
}
.trabajo-h2{
    color: #D10000;
}

/* Configuraciones */
.configs{
    background: rgba(2, 33, 99, 0.5);
    color: #B6B6B6;
    text-align: center;
    min-height: 700hv;
    max-height: 400hv;
    padding-bottom: 20px;
}
.configs-p{
    margin-top: -15px;
}

.config-1 article{
    background: rgba(92, 187, 255, 0.2);
    height: 0;
    overflow: hidden;
    transition: height .5s;
    interpolate-size: allow-keywords;
    padding: 0 10px;
    max-width: 400px;
    min-width: 300px;
    margin-left: 6.7px;
    margin-top: -1em;
    margin-bottom: 20px;
    cursor: pointer;
}
.config-1:hover article{
    height: auto;
    max-width: 400px;
    min-width: 300px;
    margin-left: 6.7px;
    margin-top: -1em;
    cursor: pointer;
}
.config-2 article{
    background: rgba(92, 187, 255, 0.2);
    height: 0;
    overflow: hidden;
    transition: height .5s;
    interpolate-size: allow-keywords;
    padding: 0 10px;
    max-width: 400px;
    min-width: 300px;
    margin-left: 6.7px;
    margin-top: -1em;
    margin-bottom: 20px;
    cursor: pointer;
}
.config-2:hover article{
    height: auto;
    max-width: 400px;
    min-width: 300px;
    margin-left: 6.7px;
    margin-top: -1em;
    cursor: pointer;
}
.config-3 article{
    background: rgba(92, 187, 255, 0.2);
    height: 0;
    overflow: hidden;
    transition: height .5s;
    interpolate-size: allow-keywords;
    padding: 0 10px;
    max-width: 400px;
    min-width: 300px;
    margin-left: 6.7px;
    margin-top: -1em;
    cursor: pointer;
}
.config-3:hover article{
    height: auto;
    max-width: 400px;
    min-width: 300px;
    margin-left: 6.7px;
    margin-top: -1em;
    cursor: pointer;
}
.config-img{
    max-width: 400px;
    min-width: 300px;
}
#Mostrar{
    font-size: 20px;
    background: #616161;
    color: #B6B6B6;
    border: none;
    border-radius: 4px;
}
.config-h3{
    color: #D10000;
    font-size: 25px;
    font-weight: 500px;
    font-family: 'Ponppis',sans-serif;
}

/* Proyecto */
.Proyecto{
    background: rgba(0, 190, 255, 0.2);
    height: 25em;
}
.proyecto-img{
    max-width: 400px;
    min-width: 300px;
}
.proyecto-h3{
    color: #A30000;
    font-size: 25px;
    font-weight: 400px;
    font-family: 'Poppis',sans-serif;
    text-align: center;
}
#Ip{
    display: none;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    position: sticky;
    top: -20em;
    background: #005BD1;
    color: #B6B6B6;
    padding: 60px;
    margin: 0 60px;
    border-radius: 10px;
    box-shadow: 0 0 25px #00FFB8;
    border: solid 2px #FF7B2E;
    margin-top: -20em;
}

/* Contacto */
.Contacto{
    background: rgba(93, 158, 243, 0.4);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 1px;
    border-radius: 10px;
}
.Contacto-p{
    margin-left: 10px;
    margin-right: 3px;
    color: #AAAAAA;
    font-size: 18px;
}
.Contacto-p2{
    color: #AAAAAA;
    font-size: 18px;
    margin-top: -2em;
    margin-left: 3em;
}
.Contacto-li{
    margin-top: -50px;
    margin-left: 20px;
    list-style: none;
}
.Contacto-email{
    color: #AAAAAA;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Ponppis',sans-serif;
}
.Contacto-img{
    margin-left: 5px;
    margin-bottom: -10px;
}

/* Parte final y creditos */
footer{
    border-top: solid 3px #0076D1;
    background: rgba(115, 158, 255, 0.4);
    padding-bottom: 2px;
    margin-top: 10px;
}
.creditos-spn{
    text-align: center;
    margin: 0 120px;
    color: #CFCFCF;
}

@media screen and (min-width: 1280px) {
    /* Bara de navegacion en pc */
.nav-li{
    display: inline-block;
    padding-right: 120px;
    margin-left: -10px;
}
.nav-lies{
    margin-right: -50px;
}
.nav-a{
    color: #B6B6B6;
    text-decoration: none;
    margin-left: -20em;
    font-size: 20px;
    font-weight: 300;
}
.nav-spn-m{
    display: block;
    position: relative;
    left: -126px;
    top: 8px;
    color: #2EBDFF;
}

/* Historia */
.tarjeta{
    margin-left: 40em;
    margin-top: -25em;
}
.tarjeta2{
    margin-left: 31em;
    margin-top: -4em;
}
.tarjeta3{
    margin-left: 55em;
    margin-top: -12em;
}
.item-img{
    margin-left: 4em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.trabajo{
    margin-top: 70px;
}
/* Configs */
.config-1:hover article{
    margin-left: 26.5em;
}
.config-2:hover article{
    margin-left: 26.5em;
}.config-3:hover article{
    margin-left: 26.5em;
}
.config-1 article{
    margin-left: 26.5em;
}.config-2 article{
    margin-left: 26.5em;
}.config-3 article{
    margin-left: 26.5em;
}

/* Proyecto */
.proyecto-img{
    margin-left: 26em;
}
#Ip{
    display: none;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    position: sticky;
    top: -20em;
    background: #005BD1;
    color: #B6B6B6;
    padding: 20px 10px;
    margin: 0 25em;
    border-radius: 10px;
    box-shadow: 0 0 25px #00FFB8;
    border: solid 2px #FF7B2E;
    margin-top: -20em;
}

/* Contacto */
.Contacto{
    width: 600px;
    margin-left: 25em;
}
/* Creditos */
.creditos-spn{
    margin-left: 35em;
}
}
@media screen and (min-width: 1284px) {
    /* Bara de navegacion en pc */
.nav-li{
    display: inline-block;
    padding-right: 120px;
    margin-left: -10px;
}
.nav-lies{
    margin-right: -50px;
}
.nav-a{
    color: #B6B6B6;
    text-decoration: none;
    margin-left: -35em;
    font-size: 20px;
    font-weight: 300;
}
.nav-spn-m{
    display: block;
    position: relative;
    left: -126px;
    top: 8px;
    color: #2EBDFF;
}

/* Historia */
.tarjeta{
    margin-left: 50em;
    margin-top: -25em;
}
.tarjeta2{
    margin-left: 35em;
    margin-top: -4em;
}
.tarjeta3{
    margin-left: 65em;
    margin-top: -12em;
}
.item-img{
    margin-left: 10em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.trabajo{
    margin-top: 70px;
}
/* Configs */
.config-1:hover article{
    margin-left: 46.5em;
}
.config-2:hover article{
    margin-left: 46.5em;
}.config-3:hover article{
    margin-left: 46.5em;
}
.config-1 article{
    margin-left: 46.5em;
}.config-2 article{
    margin-left: 46.5em;
}.config-3 article{
    margin-left: 46.5em;
}

/* Proyecto */
.proyecto-img{
    margin-left: 45em;
}
#Ip{
    display: none;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    position: sticky;
    top: -20em;
    background: #005BD1;
    color: #B6B6B6;
    padding: 20px 10px;
    margin: 0 50em;
    border-radius: 10px;
    box-shadow: 0 0 25px #00FFB8;
    border: solid 2px #FF7B2E;
    margin-top: -20em;
}

/* Contacto */
.Contacto{
    width: 600px;
    margin-left: 40em;
}
/* Creditos */
.creditos-spn{
    margin-left: 55em;
}

}



